<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    
    <div id="app">

        <!-- <header>
            <div class="logo">
                <h2>ChatPlatform</h2>
            </div>
            <div class="options">
                <button> Crear sala </button>
                <form action="/logout?_method=DELETE" method="POST" id="logout_session">
                    <button type="submit" > Cerrar secion </button>
                </form>
            </div>
        </header>

        <div class="container">
            <nav>
                <nav-user
                    v-for="user in users"
                    v-bind:user="user"
                    v-bind:key="user.id"
                />
            </nav>
            
            <div class="main">
                <chat 
                    v-for="user in users"
                    v-bind:user="user"
                    v-bind:key="user.id"
                />
            </div>
        </div> -->
        
        
    </div>

    <script src="https://kit.fontawesome.com/3a06726ffc.js"></script>
    <script src="js/bundle.js" ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <!-- <script src="js/vue.js" ></script> -->
</body>
</html>