<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

    {{#if session.user }}

        <form action="/logout?_method=DELETE" method="POST" id="logout_session">
            <button type="submit" > Cerrar secion </button>
        </form>

        <b> {{ session.user.email }} </b>

    {{/if}}

    {{{ body }}}

    <script src="js/bundle.js"></script>

    {{#if session.user }}

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/socket-functions.js" ></script>
        <script src="js/socket-execute.js" ></script>
        <script src="js/socket-events.js" ></script>

    {{/if}}

</body>
</html>