<h1>Iniciar secion</h1>

<form action="/login" method="POST">
    <input type="email" name="email" placeholder="Ingresa en email">
    <input type="password" name="password" placeholder="Ingresa la contraseña">
    <button type="submit" > Ingresar </button>
</form>
