$background: #00A2D6;
$backgroundHeader: #CBECF7;
$backgroundInfoHeader: #0187B2;
$backgroundLogoHeader: #0187B2; //007297

$backgroundNav: #CBECF7;
$backgroundCards: #78BAD0;
$backgroundMessageCard: #00A2D6;

$backgroundChat: #ccc;
$backgroundHeaderChat: #00A2D6;
$backgroundMe: #CBECF7;

$backgroundScroll: #0187B2;

$color: #00A2D6;
$colorDanger: red;


.container{
    width: 100%;
    display: grid;
    grid-template-columns: 40vh auto;
}

.blur{
    color: #AAAAAA;
}

.none{
    display: none !important;
}

@import './components/images.scss';
@import './components/box.scss';
@import './components/buttons.scss';
@import './components/scroll.scss';

@import './login.scss';
@import './header.scss';
@import './nav_user.scss';
@import './chat.scss';
@import './target_chat.scss';